<script>
  window.APP_CONFIG = {
    ga4MeasurementId: "{{ site.analytics.ga4MeasurementId }}",
    metaPixelId: "{{ site.analytics.metaPixelId }}",
    metaPixelIds: {{ (site.analytics.metaPixelIds or []) | dump | safe }}
  };
</script>

<script>
  (function setupTrackingConsent() {
    window.dataLayer = window.dataLayer || [];
    function gtag() {
      dataLayer.push(arguments);
    }

    window.gtag = window.gtag || gtag;
    gtag("consent", "default", {
      analytics_storage: "granted",
      ad_storage: "granted"
    });
  })();
</script>
